# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
#CocoaPods
Pods
/ePDI.xcworkspace/xcuserdata/cwiles.xcuserdatad/UserInterfaceState.xcuserstate
/ePDI/ePDI.xcodeproj/xcuserdata/cwiles.xcuserdatad/xcschemes/xcschememanagement.plist
/Configs/Base64.txt
GoogleService-Info.plist
awsconfiguration.json
/Configurations/awsconfiguration.json
/Configurations/GoogleService-Info.plist
/SpokestackTray.xcworkspace/xcuserdata/cwiles.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
